	
	#mainTop{display:block;}

	#wcMainScreen{display:none;}
	#wcFoldbackScreen{display:none;}

	/*
		that's the "main" segment code,
		now here's the "individual" segment code:
	*/

	/*
		start of wc;
	*/

	#wcMainScreen_tc{display:none;}
	#wcMainScreen_mc{display:none;}
	#wcMainScreen_fz{display:none;}
	#wcMainScreen_ks{display:none;}
	#wcMainScreen_ls{display:none;}

	#wcFoldbackScreen_tc{display:none;}
	#wcFoldbackScreen_mc{display:none;}
	#wcFoldbackScreen_fz{display:none;}
	#wcFoldbackScreen_ks{display:none;}
	#wcFoldbackScreen_ls{display:none;}

	/*
		end of wc,
	*/

	
	/*
		#{display:none;}
		#{display:none;}
		#{display:none;}
	*/
