		
.normal-arial
	{
		font: 12pt arial;
	}
.bold-arial
	{
		font: bold 14pt arial;
	}

.arial-big-almost
	{
		font: bold 20pt arial;
		text-align: center;
	}			
.arial-big
	{
		font: bold 22pt arial;
	}			
.arial-large
	{
		font: bold 36pt arial;
	}
.red
	{
		border: 5px solid #ff0000;
	}
.green
	{
		border: 5px solid #00ff00;
	}
.blue
	{
		border: 5px solid #0000ff;
	}
.yellow
	{
		border: 5px solid #ffff00;
	}
.gray
	{
		border: 5px solid #808080;
	}
.black
	{
		border: 5px solid #000000;
	}
.bg-black
	{
		background-color: #000000;
	}
.light-gray
	{
		color: #dddddd;
	}
.table-buttons-borderless
	{
		/*border: 1px solid white; ...debug...;*/
		border: none;
		padding: 8px;
		text-align: center;
	}
.table-buttons
	{
		border: 4px solid black;
		padding: 8px;
		text-align: center;
	}
.table-align-center
	{
		margin: auto;
	}
.full-width
	{
		width: 90%;
	}
.half-width
	{
		width: 80%;
	}
.third-width
	{
		width: 40%
	}

.tiny
	{
		background-color: #e9e9e9;
		font: bold 8pt arial;
	}

/* start cool button stuff */

.common-minimal
	{
		cursor: pointer;
		transition: all .1s ease;
		text-decoration: none;
	}

.common
	{
		padding: 10px 15px;
		border-radius: 5px;
		font-size: 16px;
		text-align: center;
		position: relative;
		display: inline-table;
		cursor: pointer;
		transition: all .1s ease;
		text-decoration: none;
	}

.inactive
	{
		padding: 10px 15px;
		border-radius: 5px;
		font-size: 16px;
		text-align: center;
		position: relative;
		display: inline-table;
		cursor: default;
		transition: all .1s ease;
		text-decoration: none;
	}
	
.simple
	{
		box-shadow: inset 0 0 1px 1px #F6F6F6;
		background-color: #E0E0E0;
		color: #333333;
		font: bold 18pt arial;
	}
.simple:hover
	{
		background-color: #CCCCCC;
		color: #404040;
		font: bold 18pt arial;
	}
.simple:active
	{
		background-color: #999999;
		color: #000000;
		font: bold 18pt arial;
	}

/* end cool buttons stuff */


